/OnkoDiploma/**/.vs
/OnkoDiploma/**/bin
/OnkoDiploma/**/obj
/OnkoDiploma/**/logs
/OnkoDiploma/**/node_modules
/OnkoDiploma/**/packages
/OnkoDiploma/**/typings
/OnkoDiploma/**/*.css.ts
/OnkoDiploma/**/*.user
/OnkoDiploma/**/.idea/workspace.xml
/OnkoDiploma/ui/merchant/app/index.js
/OnkoDiploma/ui/merchant/app/index.css
/dist/MerchantPortal/logs
/dist
/OnkoDiploma/ui/**/dist
/OnkoDiploma/build
/OnkoDiploma/tools
/OnkoDiploma/backend.ui/**/app
